<app-dom-portal [selector]="'#headerId'">
  <button routerLink="/login" class="mr-5 text-lg font-medium">Login</button>
</app-dom-portal>

<div class="text-gray-600 container px-5 py-2 sm:py-8 mx-auto flex flex-wrap items-center justify-center">
  <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0 text-center">
    <h1 class="font-medium text-3xl text-gray-900">First time here? Welcome to ExpenseTracker</h1>
    <p class="leading-relaxed mt-4">
      The free and easy way to track all your expenses and view useful charts about how you manage your money. This tool
      is built for learning purposes so feel free to give any review you may seem fit or any idea of how I can still
      improve it. Sign up and get ready to be amazed by its <span class="font-bold">simplicity</span>.
    </p>
  </div>

  <form
    [formGroup]="userForm"
    class="lg:w-2/6 md:w-1/2 rounded-lg p-8 flex flex-col md:ml-auto w-full sm:mt-10 md:mt-0"
  >
    <h2 class="text-gray-900 text-lg font-medium mb-5 text-center sm:text-left">Create your account</h2>

    <mat-form-field hideRequiredMarker="true" appearance="outline">
      <mat-label class="text-lg">Enter your name</mat-label>
      <mat-error *ngIf="userForm.get('name')?.hasError('required')">Name is required</mat-error>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field hideRequiredMarker="true" appearance="outline">
      <mat-label class="text-lg">Enter your email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="userForm.get('email')?.hasError('pattern')">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker="true" appearance="outline">
      <mat-label class="text-lg">Enter your password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="off" formControlName="password" />
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')"
        >Password must be at least 8 characters long</mat-error
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="border-0 py-2 px-8 rounded text-lg hover:brightness-95"
      (click)="register()"
    >
      <span class="text-white">Sign Up</span>
    </button>

    <p class="text-xs text-gray-500 mt-3 text-center">
      Already have an account? Login <a routerLink="/login" class="text-gray-900 text-xs font-bold">here</a>.
    </p>
  </form>
</div>
