<div class="max-h-full h-full w-full bg-white">
  <header class="h-16">
    <div class="container mx-auto flex flex-nowrap p-5 flex-row items-center">
      <button routerLink="dashboard" class="flex font-medium items-center mb-0">
        <mat-icon class="!h-8 !w-8" svgIcon="expense-tracker-logo"></mat-icon>
        <span class="ml-3 text-xl">ExpenseTracker</span>
      </button>
      <nav class="mr-auto ml-4 py-1 pl-4 border-l border-gray-400 text-gray-600 w-full">
        <div id="headerId"></div>
      </nav>
    </div>
  </header>

  <div class="mx-auto" style="height: calc(100vh-72px)">
    <router-outlet></router-outlet>
  </div>
</div>
