<div class="max-h-full h-full w-full bg-white">
  <header class="h-20 w-full sticky top-0 left-0 bg-white flex">
    <div class="container mx-auto flex flex-nowrap px-3 flex-row items-center">
      <a class="flex font-medium items-center mb-0">
        <mat-icon class="!h-8 !w-8" svgIcon="expense-tracker-logo"></mat-icon>
        <span class="ml-3 text-xl">ExpenseTracker</span>
      </a>
      <nav class="mr-auto ml-4 pl-4 sm:border-l border-gray-400 text-gray-600 w-full order-first sm:order-none">
        <div id="headerId"></div>
      </nav>
    </div>
  </header>

  <div class="mt-6 ml-2 overflow-scroll" style="height: calc(100vh - 104px)">
    <router-outlet></router-outlet>
  </div>
</div>
