<app-dom-portal [selector]="'#headerId'">
  <button routerLink="/register" class="mr-5 text-lg font-medium">Register</button>
</app-dom-portal>

<div class="text-gray-600 container px-5 py-8 mx-auto flex flex-wrap justify-center">
  <div class="w-full flex flex-col justify-center content-center text-center">
    <h1 class="title-font font-medium text-3xl text-gray-900">Welcome back!</h1>
    <p class="leading-relaxed mt-4">Please login to continue.</p>
  </div>

  <form [formGroup]="userForm" class="w-96 rounded-lg p-8 flex flex-col">
    <mat-form-field hideRequiredMarker="true" appearance="outline">
      <mat-label class="text-lg">Enter your email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="userForm.get('email')?.hasError('pattern')">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker="true" appearance="outline">
      <mat-label class="text-lg">Enter your password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="off" formControlName="password" />
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')"
        >Password must be at least 8 characters long</mat-error
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="under-password flex justify-between items-center mb-6">
      <mat-checkbox labelPosition="before">
        <span class="text-gray-800 text-base font-medium">Remember me</span></mat-checkbox
      >
      <a routerLink="/reset-password" class="text-gray-800 text-base font-medium">Forgot password?</a>
    </div>

    <button
      mat-flat-button
      color="primary"
      class="border-0 py-2 px-8 rounded text-lg hover:brightness-95"
      (click)="login()"
    >
      <span class="text-white">Login</span>
    </button>

    <p class="text-xs text-gray-500 mt-3 text-center">
      Don't have an account? Register
      <a routerLink="/register" class="text-gray-900 text-xs font-bold">here</a>.
    </p>
  </form>
</div>
