@media only screen and (max-width: 430px) {
  .under-password {
    margin-top: 0.8rem;
    flex-direction: column;

    & a {
      padding-right: 1.1rem;
    }
  }
}

button:hover {
  color: #9daf89;
}
