<ng-container *ngIf="{value: isSmallScreen$ | async } as isSmallScreen">
  <div class="h-full py-5">
    <mat-tab-group class="mb-5" [(selectedIndex)]="selectedIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="sm:mr-2 scale-75 !w-12 !h-12" svgIcon="all-expenses"></mat-icon>
          <span class="font-medium text-base" *ngIf="!isSmallScreen.value">All expenses</span>
        </ng-template>
      </mat-tab>

      <mat-tab *ngFor="let category of categories">
        <ng-template mat-tab-label>
          <mat-icon
            class="sm:mr-2 scale-75 !w-12 !h-12"
            svgIcon="{{category.toLowerCase().replace(' ','-')}}"
          ></mat-icon>
          <span class="font-medium text-base" *ngIf="!isSmallScreen.value">{{category}}</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <!-- <ng-container *ngIf="orders$ | async as ordersState">
    <div class="h-[calc(100%-53px)] overflow-y-scroll">
      <app-expenses-table
        [orders]="ordersState.orders.domain"
        [showOrdersStatus]="selectedIndex === 0"
        (sortChanged)="handleSortChanged($event)"
        (orderStatusChanged)="updateOrderStatus($event)"
      >
      </app-expenses-table>
    </div>
  </ng-container> -->

    <ng-container>
      <div class="overflow-scroll" style="height: calc(100vh - 215px)">
        <app-expenses-table> </app-expenses-table>
      </div>
    </ng-container>
  </div>
</ng-container>
