mat-error {
  display: inline;
}

mat-date-range-input {
  color: black;
  font-weight: 500 !important;
  padding-top: 2px;
  font-size: 1.2rem !important;
  line-height: 1.75rem !important;
}

mat-form-field{
  width: 22rem;
}
