@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;

  button {
    letter-spacing: 0.02em;
  }
}

.custom-select {
  margin-top: 30px;
  min-width: calc(100% + 16px) !important;
  margin-left: 8px;
}

.mat-step-header .mat-step-icon {
  @apply bg-gray-800;
  @apply text-white;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-datepicker-content-touch {
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  th,
  td {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  color: black;
  font-weight: 500;
  padding-top: 2px;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.expense-selector .mat-mdc-select-value-text {
  color: black;
  font-weight: 500;
  padding-top: 2px;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.mat-mdc-form-field-subscript-wrapper {
  margin-top: -4px;
  margin-bottom: 4px;
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 3rem;
}

.mat-sort-header-content {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.mat-mdc-paginator .mat-mdc-select-value {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.mat-mdc-paginator-container {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.mat-mdc-option {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media only screen and (max-width: 500px) {
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding-left: 5px !important;
    padding-right: 0px !important;
  }
}

button .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: white;
}

.mat-mdc-button .mdc-button__label,
.mat-mdc-unelevated-button .mdc-button__label,
.mat-mdc-raised-button .mdc-button__label,
.mat-mdc-outlined-button .mdc-button__label {
  font-weight: 600;
  font-size: medium;
}
