.no-padding-dialog {
  .mat-dialog-content {
    max-height: initial;
  }

  mat-dialog-content {
    @apply p-0;
    @apply m-0;
  }

  mat-dialog-container {
    padding: 0;
    @apply ml-2;
    @apply mr-2;
  }
}

.error-snackbar {
  --mdc-snackbar-container-color: #e57373;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: #9daf89;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.mat-tooltip {
  @apply bg-gray-700;
  @apply text-white;
  @apply tracking-normal;
}
