<app-dom-portal [selector]="'#headerId'">
  <button routerLink="/login" class="mr-5 text-lg font-medium">Login</button>
</app-dom-portal>

<div class="text-gray-600 container px-5 py-8 mx-auto flex flex-wrap justify-center">
  <div class="w-full flex flex-col justify-center content-center text-center">
    <h1 class="title-font font-medium text-3xl text-gray-900">Reset your password</h1>
    <p class="leading-relaxed mt-4">Instructions will be sent to your email to restore access.</p>
  </div>

  <form [formGroup]="userForm" class="w-96 rounded-lg p-8 flex flex-col">
    <mat-form-field hideRequiredMarker="true" appearance="outline">
      <mat-label class="text-lg">Enter your email</mat-label>
      <input matInput type="email" formControlName="email" autocomplete="off"/>
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="userForm.get('email')?.hasError('pattern')">Invalid email</mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      type="button"
      color="primary"
      class="border-0 py-2 px-8 !rounded-lg text-lg hover:brightness-95"
      (click)="resetPassword()"
    >
      <ng-container *ngIf="!isLoading; else spinner">
        <span class="text-white">Reset</span>
      </ng-container>
      <ng-template #spinner>
        <mat-spinner strokeWidth="4" diameter="30"></mat-spinner>
      </ng-template>
    </button>
    <p class="text-xs text-gray-500 mt-3 text-center">
      If you don't receive an email, it means you haven't registered in the first place.
    </p>
  </form>
</div>
